<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">

    <title>{% block title %}{% endblock %} | СООП ТПУ #13</title>
</head>
<style>
    #kfkd:hover{
        color: green;

    }

    
</style>
<body>
    <div class="container">
    <div class="row mt-2">
        <a href="{% url 'home' %}" class="col-md-6 text-decoration-none text-dark "> <div class=" d-flex "><img width="50px" height="50px" src="https://ltdfoto.ru/images/2024/03/07/IMG_5745-2.jpg" alt="">  <img  src="https://i.ibb.co/4Yd2z20/SSSG-1.png" alt="SSSG-1" width="170px" border="0" class="ml-3 "></div></a>
        <div class="col-md-6 d-flex justify-content-md-end pt-2">
            {% if request.user.is_authenticated %}
           <div class=" bg-dark text-white px-3 pt-2 shadow-lg rounded-pill " id="hello"><a href="{% url 'home' %}" class="text-white text-decoration-none"> Привет {{request.user.first_name }}! </a></div>
            {% if user.is_authenticated and user.is_staff %}
            <a href="{% url 'admin_page' %}" class="ml-3 text-decoration-none btn btn-success" > Admin </a>
            {% endif %}

            <a href="{% url 'logout' %}" class="text-decoration-none ml-3 btn btn-warning"> Выйти</a>
            {% else %}
            <a href="{% url 'login' %}" class="btn btn-outline-success">Войти</a>
            <a href="{% url 'signup' %}" class="btn-success btn ml-3">Регистрация</a>
            {% endif %}
        </div>
    </div></div>

    <hr>
    {% block content %}
    {% endblock %}
   <br> <br><br>
    <footer class=" text-center  mt-3" style=" font-size: medium; " >
       <span class="" ><b> Обнаружили ошибку?</b> сообщите разработчику <a  href="https://vk.com/fayziev_m" class="text-decoration-none fw-bold" id="kfkd"><br>Мансур (vk.com/fayziev_m)</a></span>
    </footer><br><br><br>
  
</body>
</html>