{% extends 'core/base.html' %}
	{% block title %}Главная{% endblock %}



    {% block content %}
	<div class="container ">
        {% if request.user.is_superuser %}
        <form action="" method="POST" class="form-group col-md-6 mx-auto border rounded">
            {% csrf_token %}
            <h2 class="my-3 text-center">Нарушения СООП</h2>
            <p><input class="form-control" placeholder="Номер комнаты..." type="text" name="room" id=""></p>
            <p><input class="form-control" placeholder="Фамилия Имя (если нарушитель один)..." type="text" name="fio" id=""></p>
            <div>Несколько вариантов:</div>
            <div class="form-check  mt-2">
                <input name="camCheck" class="form-check-input" type="checkbox" id="inlineCheckbox1" value="Шумели в комнате">
                <label class="form-check-label" for="inlineCheckbox1">Шумели в комнате</label>
            </div>
            <div class="form-check ">
                <input name="camCheck" class="form-check-input" type="checkbox" id="inlineCheckbox2" value="Распитие алкоголя">
                <label class="form-check-label" for="inlineCheckbox2">Распитие алкоголя</label>
            </div>
            <div class="form-check">
                <input name="camCheck" class="form-check-input" type="checkbox" id="inlineCheckbox3" value="Курение">
                <label class="form-check-label" for="inlineCheckbox3">Курение</label>
            </div>
            <div class="form-check">
                <input name="camCheck" class="form-check-input" type="checkbox" id="inlineCheckbox4"  value="Шумели в коридоре">
                <label class="form-check-label" for="inlineCheckbox4">Шумели в коридоре</label>
            </div>
            <p class="mt-2"> <div class="my-1 mb-2">Свой вариант:</div><textarea class="form-control"  name="comment" id="" cols="30" rows="2" placeholder="Напиши свой вариант..."></textarea></p>

            {% if messages %}
            {% for message in messages %}
                {% if message.tags == 'success' %}
                  <div class="alert alert-success d-flex align-items-center" role="alert">
                    <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Success:"><use xlink:href="#check-circle-fill"/></svg>
                    <div>
                      {{message}}
                    </div>
                  </div>
                {% endif %}
                {% if message.tags == 'error' %}
                <div class="alert alert-danger d-flex align-items-center" role="alert">
                    <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Danger:"><use xlink:href="#exclamation-triangle-fill"/></svg>
                    <div>
                      {{message}}
                    </div>
                </div>
                {% endif %}
            {% endfor %}
            {% endif %}

           <p><button class="btn btn-warning"  type="submit">Отправить</button><button name="create_act" class="btn btn-danger fw-bold ml-2" style="background-color:red;">Акт</button><br></p>


        </form>
        {% endif %}
         <h4 class="text-center "><i class="fas fa-home"></i>  Комната <span class="fw-bold">{{room_user}}</span><samp class="text-secondary">({% if akts_len %}<span class="" style="color: red !important; font-weight: 900;">{{akts_len}}</span>|{% endif %}{{vios_len}})</samp></h4>


        {% if akts %}
        {% for vio in akts %}
        <div class="alert alert-secondary   shadow col-md-6 mx-auto p-3 border" style="margin-top: 20px; background-color: rgb(255, 0, 0); color: white;">
            <div class="mb-2 " style="font-size: 80%;">{{ vio.date }}   <div class="float-right text-warning" style="font-size: 180%;  font-weight:900;">АКТ</div></div>
            {% if vio.comment %}
            <span class="fw-bold">{{vio.comment}}</span><br>
            {% else %}
            <span class="fw-bold">Причина не указна</span><br>
            {% endif %}
            {% if vio.fio %}
            <div class="mt-2 ">Нарушитель: {{vio.fio}}</div>
            {% endif %}
        </div>
            {% endfor %}
            <hr class="col-md-6 mx-auto">
        {% endif %}


        {% if vios %}
            {% for vio in vios %}
            <div class="alert alert-secondary  text-dark shadow col-md-6 mx-auto p-3 border" style="margin-top: 20px; background-color: rgb(244, 227, 227);">
                <div class="mb-2 " style="font-size: 80%;">{{ vio.date }}</div>
                {% if vio.comment %}
                <span class="fw-bold">{{vio.comment}}</span><br>
                {% else %}
                <span class="fw-bold">Причина не указна</span><br>
                {% endif %}
                {% if vio.fio %}

                <div class="mt-2 ">Нарушитель: {{vio.fio}}</div>
                {% endif %}


            </div>
            {% endfor %}
        {% else %}

        <br><h2 class="text-center text-success"> Нет нарушений:)</h2>
        {% endif %}


    </div>
    {% endblock %}
